<manifest package="com.ys.simple.corelibrary"
  xmlns:android="http://schemas.android.com/apk/res/android" >
  
  <application>
    <!-- 暂时只使用一个替代Activity -->
    <activity android:name=".delegate.StubActivity" android:launchMode="standard"/>

    <!-- 各种launchMode的Activity -->
    <activity android:exported="false" android:name=".A$1" android:launchMode="standard"/>
    <activity android:exported="false" android:name=".A$2" android:launchMode="standard"
      android:theme="@android:style/Theme.Translucent" />

    <!-- Stub Activities -->
    <activity android:exported="false" android:name=".B$1" android:launchMode="singleTop"/>
    <activity android:exported="false" android:name=".B$2" android:launchMode="singleTop"/>
    <activity android:exported="false" android:name=".B$3" android:launchMode="singleTop"/>
    <activity android:exported="false" android:name=".B$4" android:launchMode="singleTop"/>
    <activity android:exported="false" android:name=".B$5" android:launchMode="singleTop"/>
    <activity android:exported="false" android:name=".B$6" android:launchMode="singleTop"/>
    <activity android:exported="false" android:name=".B$7" android:launchMode="singleTop"/>
    <activity android:exported="false" android:name=".B$8" android:launchMode="singleTop"/>

    <!-- Stub Activities -->
    <activity android:exported="false" android:name=".C$1" android:launchMode="singleTask"/>
    <activity android:exported="false" android:name=".C$2" android:launchMode="singleTask"/>
    <activity android:exported="false" android:name=".C$3" android:launchMode="singleTask"/>
    <activity android:exported="false" android:name=".C$4" android:launchMode="singleTask"/>
    <activity android:exported="false" android:name=".C$5" android:launchMode="singleTask"/>
    <activity android:exported="false" android:name=".C$6" android:launchMode="singleTask"/>
    <activity android:exported="false" android:name=".C$7" android:launchMode="singleTask"/>
    <activity android:exported="false" android:name=".C$8" android:launchMode="singleTask"/>

    <!-- Stub Activities -->
    <activity android:exported="false" android:name=".D$1" android:launchMode="singleInstance"/>
    <activity android:exported="false" android:name=".D$2" android:launchMode="singleInstance"/>
    <activity android:exported="false" android:name=".D$3" android:launchMode="singleInstance"/>
    <activity android:exported="false" android:name=".D$4" android:launchMode="singleInstance"/>
    <activity android:exported="false" android:name=".D$5" android:launchMode="singleInstance"/>
    <activity android:exported="false" android:name=".D$6" android:launchMode="singleInstance"/>
    <activity android:exported="false" android:name=".D$7" android:launchMode="singleInstance"/>
    <activity android:exported="false" android:name=".D$8" android:launchMode="singleInstance"/>

    <service android:name=".delegate.LocalService"/>

    <service android:name=".delegate.RemoteService" android:process=":daemon"/>

    <provider
      android:name=".delegate.RemoteContentProvider"
      android:authorities="${applicationId}.provider"/>
    
  </application>
  
</manifest>
